---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<section class="hero">
				<img src="/CTHLogo-2-1024x908.png" alt="Christian Tech Help Logo" class="logo" />
				<h1>Christian Tech Help</h1>
				<p>Looking for help/advice with a technology related issue?</p>
				<p>Welcome! I am accepting new clients. Please call today if you would like a quote.</p>
				<a href="tel:+14698440493" class="cta">☎️ Call Now (469) 844-0493</a>
			</section>

			<section class="about-section">
				<img src="/mobile-device-laptop-small-1.jpg" alt="Image of laptop and mobile phone" />
				<div>
					<p>Looking for help with technical issues around the house? My name is Scott, and if you give me a call, I will assist you for a reasonable fee.</p>
					<p>Technology can be complicated. Things run slow, or occasionally stop working completely. It can be overwhelming to figure out what to do.</p>
					<p>I will help you figure out the best solution to solve your issues and become your go-to tech guy!</p>
					<a href="tel:+14698440493" class="cta">☎️ (469) 844-0493</a>
				</div>
			</section>

			<section class="services">
				<h2>Our Services</h2>
				<div class="services-grid">
					<div class="card">
						<h5>Computer Troubleshooting</h5>
						<p>Machine running slow? I can resolve slow performance, software issues, and hardware problems quickly.</p>
					</div>
					<div class="card">
						<h5>Network Setup and Support</h5>
						<p>Set up and maintain your home Wi-Fi network for optimal performance, as well as troubleshoot connectivity issues.</p>
					</div>
					<div class="card">
						<h5>Virus and Malware Removal</h5>
						<p>I can help you protect your devices with thorough virus and malware removal services.</p>
					</div>
					<div class="card">
						<h5>Data Backup and Recovery</h5>
						<p>Secure your important files and recover lost data efficiently. Family photos, videos, anything you can think of.</p>
					</div>
					<div class="card">
						<h5>Device and Applications Support</h5>
						<p>Got a question about a device you own or an application you are having trouble with? I can help!</p>
					</div>
					<div class="card">
						<h5>AI Productivity Sessions</h5>
						<p>Interested in how to take advantage of AI at work or in your personal life to make things easier? I can help explain to you how you can best take advantage of AI as soon as possible!</p>
					</div>
					<div class="card">
						<h5>Anything else?</h5>
						<p>If you don't see what you're looking for listed here, contact me and I will see if I can be of assistance. The answer is most likely yes!</p>
						<a href="tel:+14698440493" class="cta">☎️ (469) 844-0493</a>
					</div>
				</div>
			</section>
		</main>
		<Footer />
	</body>
</html>